.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  .mat-card-header{
    background-color: #4E82B0 ;
    padding:5px ;
  }
  
   .mat-card{
    padding:0 ;
  }
  
  .mat-card-content{
    padding:5px ;
  }